In [ ]:
import pandas as pd

athlete = pd.read_csv("athlete_events.csv")
noc = pd.read_csv("noc_regions.csv")

df_lander = pd.DataFrame({"NOC": noc["NOC"].unique()})
df_lander

     NOC
0    AFG
1    AHO
2    ALB
3    ALG
4    AND
..   ...
225  YEM
226  YMD
227  YUG
228  ZAM
229  ZIM

[230 rows x 1 columns]

In [3]:
antal_lander = noc["NOC"].nunique()
print(f"Antal länder: {antal_lander}")
print("Förkortningar:")
for l in noc["NOC"].unique():
    print("-", l)

Antal länder: 230st

In [ ]:
medaljtyper = athlete["Medal"].dropna().unique()
print(f"\nMedaljtyper ({len(medaljtyper)}):")
for m in medaljtyper:
    print("-", m)

Medaljtyp
Bronze       1
Gold         1
Silver       1
Name: count, dtype: int64